/* * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.a_box {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}

.a_rogo {
  padding: 18px 0px 0px 320px;
}

.b_box {
}

.c_box {
  position: absolute;
  width: 1280px;
  height: 1295px;
  margin: 0px 0px 0px 320px;
}

.txt_01 {
  position: absolute;
  margin: 170px 0px 0px 132px;
  font-size: 50px;
}

.txt_02 {
  position: absolute;
  margin: 97px 0px 0px 761px;
  font-size: 20px;
}

.txt_03 {
  position: absolute;
  margin: 292px 0px 0px 761px;
  font-size: 24px;
}

.img_01 {
  margin: 433px 0px 0px 7px;
}

.d_box_01 {
  background-image: url(img/bg_01.png);
}
.d_box_01 {
  margin-top: 1295px;
  width: 1920px;
  height: 1365px;
  background-color: #081129;
  opacity: 80%;
}

.bg_01 {
  margin-top: 1295px;
  background-image: url(img/bg_01.png);
  width: 1920px;
  height: 1365px;
}

.txt_04 {
  position: absolute;
  font-size: 50px;
  color: #ffffff;
}

.e_box {
  width: 1281px;
  height: 1145px;
  margin: 0px 0px 0px 320px;
}

.txt_08 {
  font-size: 50px;
  padding-top: 70px;
  padding-left: 369px;
}
.txt_09 {
  position: absolute;
  font-size: 50px;
  padding-top: 652px;
  padding-left: 133px;
}
.txt_10 {
  position: absolute;
  font-size: 20px;
  padding-top: 554px;
  padding-left: 762px;
}
.txt_11 {
  position: absolute;
  font-size: 24px;
  padding-top: 789px;
  padding-left: 762px;
}

.img_02 {
  position: absolute;
  padding-top: 70px;
  padding-left: 110px;
}
.img_03 {
  position: absolute;
  padding-top: 70px;
  padding-left: 668px;
}

.f_box {
  width: 1920px;
  height: 157px;
  background-color: #131e3b;
}

.txt_12 {
  font-size: 50px;
  padding-top: 39px;
  padding-left: 563px;
  color: #ffffff;
}

.g_bt_01 {
  position: absolute;
  background-image: url(img/bt_01.png);
  width: 640px;
  height: 871px;
}

.g_bt_02 {
  position: absolute;
  background-image: url(img/bt_02.png);
  width: 640px;
  height: 871px;
  padding-left: 640px;
}

.g_bt_03 {
  position: absolute;
  background-image: url(img/bt_03.png);
  width: 640px;
  height: 871px;
  padding-left: 1280px;
} */
body {
  font-family: "pretendard", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  width: 150px;
  margin-left: 70px;
}

.header_button {
  display: flex;
  gap: 55px;
  margin-right: 70px;
}

.main_box {
  margin-top: 60px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 10rem;
  font-weight: bold;
  text-align: center; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* color: white; */
  /* line-height: 60px; */
}

.section01_box01 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 97px;
  margin-left: 80px;
}

.txt_01 {
  font-size: 2.2em;
  font-weight: bold;
  color: #22376d;
  line-height: 80px;
}

.txt_02 {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5d63;
  line-height: 33px;
}

.txt_03 {
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #22376d;
  line-height: 38px;
}

.section01_img {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.section02 {
  position: relative;
  background-image: url(img/bg_01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  align-items: flex-start; /* 추가 */
  gap: 120px;
  z-index: -3;
  margin-top: 150px;
}

.section02::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 17, 41, 0.9);
  z-index: -1;
}

.section02_box01 {
  position: sticky;
  margin-top: 150px;
  margin-bottom: 200px;
  top: 150px; /* 필수 */
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 50px;
}

.section02_box02 {
  margin-top: 200px;
  margin-bottom: 200px;
}
.section02_txt01 {
  color: #acb2c0;
  font-size: 1.2rem;
  line-height: 34px;
}

.section02_graph {
  width: 400px;
  height: 380px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 70px;
}
.graph_box {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.graph_txt01 {
  font-size: 1.2rem;
  font-weight: 500;
}

.graph_txt02 {
  font-size: 1.6rem;
  font-weight: bold;
}

.graph_txt03 {
  font-size: 1rem;
  font-weight: 500;
}

.section02_txt1-2 {
  margin-top: 70px;
}
.section02_txt02 {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 36px;
  color: white;
}

.section03_title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #909dbf 45%, #22376d 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
}

.section03_img {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.section03_img img {
  width: 350px;
}

/* .section03_box01 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
} */

.section03_box01 {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  gap: 70px;
}

.section03_txt01 {
  margin-left: 80px;
}

.section04_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  font-size: 2.2rem;
  font-weight: bold;
  background-color: #131e3b;
  color: white;
  margin-top: 100px;
}

.section04 {
  display: flex;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.overlay h2 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 1rem;
  white-space: nowrap;
}

.card {
  position: relative;
  width: 33.333%;
  height: 600px;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

/* 이미지 */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.section05 {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  gap: 35px;
}

.section05_box01 {
  width: 400px;
  height: 250px;
  border: #22376d solid 2px;
  padding: 30px;
}

.section05_box01 p:nth-of-type(1) {
  font-size: 2.6rem;
  font-weight: bold;
  color: #22376d;
}

.section05_box01 p:nth-of-type(2) {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  margin-top: 10px;
}

.section05_box01 input:nth-of-type(1) {
  border: #22376d solid 2px;
  width: 330px;
  height: 30px;
  margin-top: 85px;
}

.section05_box02 p:nth-of-type(1) {
  font-size: 2.5rem;
  font-weight: bold;
  color: #22376d;
}

.section05_box02 p:nth-of-type(2) {
  font-size: 1.6rem;
  font-weight: bold;
  color: #22376d;
  margin-top: 15px;
}

.section05_box02 p:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 400;
  color: #5d6069;
  line-height: 28px;
  margin-top: 15px;
}

.footer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: #262626;
  color: #656565;
}

.footer_box01 {
  text-align: center;
  border-bottom: #656565 solid 1px;
  line-height: 35px;
  padding: 20px;
}

.footer_box01 > img {
  width: 150px;
}

.footer_box02 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 85px;
}
